body{
        background-color: black;
        color: grey;
}


#principal{
        width: 740px; 
        margin: 0 auto;
}

#ping{
        margin-bottom: 20px;
}

progress { 
	border: 0; 
	height: 2px; 
	width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #BBBBBB;
    border-radius: 9px;
}

progress::-webkit-progress-value {  
    background: #0065B7;
    border-radius: 9px;
    transition: width .8s ease;
}



#barraAnime{
	background-color: green;
	height: 2px; 
	width: 100%;
	border: 0px;
}


 /*-webkit soh para Chrome, Safari, Opera */
#progAnime {
    /*width: 80%;*/
    height: 2px;
    background: #BBBBBB;
    position: relative;
    
    -webkit-animation-name: mymove;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;

    animation-name: mymove;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    /*-webkit-transition: width 2s; /* Safari */
    /*transition: width 2s;*/
}

/* Chrome, Safari, Opera */
/*@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 50%;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 50%;}
}*/

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    /*pendulo*/
    /*0%   {left:0px; width: 0%;}
    50%  {left:20%; width: 80%;}
    100% {left:0px; width: 0%;}*/

    /*crescer cenrtal*/
    0%   {left:50%; width: 0%;}
    50%  {left:0%; width: 100%;}
    100% {left:50%; width: 0%;}

    /*0%   {left:50%; width: 0%;}
    50%  {left:0%; width: 100%;}
    100% {left:50%; width: 0%;}*/
}

/* Standard syntax */
/*@keyframes mymove {
    0%   {left:0px; width: 0%;}
    50%  {left:20%; width: 80%;}
    100% {left:0px; width: 0%;}
}*/